.header{
    background:$bg-color;
    padding:1.6rem;
    text-align: center;
    margin-bottom: 4.8rem;
}   


.header_title{

    font-weight: 500;
    color: $main-color;

}

.header_subtitle{
    font-weight: 400;
    color: $secondary-color;
    font-size: 1.4rem;
}