.option{
    color: $main-color;
    display: flex;
    word-wrap: break-word;
    justify-content: space-between;
    border-bottom: 2px solid lighten($color: $bg-color, $amount: 15);
    padding: $font-s;
}

ol{
    padding: 0;
}